{% extends "network/layout.html" %}

{% block body %}
    <div id="index-container">
        <div id="all-posts-title">
            <h1> All Posts </h1>
        </div>
        <div id="user-profile-page-title">    
        </div>
        
        <!-- Section for users to write a new post-->
        <div class="posts" id="new-post">
            <h3>New Post</h3>
            <form id="new-post-form">
                <textarea class="form-control" id="new-post-form" placeholder="New post"></textarea>
                <input type="submit" class="btn btn-primary" id="new-post-submit" formmethod="post" value="Post"/>
            </form>
        </div>

        <!-- Section showing a particulary user's profile-->
        <div class="posts" id="user-profile-information">
        </div> 
        
        <!-- Section showing all existing posts, defined in network.js-->
        <div class="posts" id="all-existing-posts">
        </div>

       
    </div>
{% endblock %}