{% extends "network/layout.html" %}

{% block body %}

<!-- Section to display any error messages-->
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

    <div id="index-container">
        <div id="all-posts-title">
            <h1> All Posts </h1>
        </div>
        
        <!-- Section for users to write a new post-->
        <div class="posts" id="new-post">
            <h3>New Post</h3>
            <form id="new-post-form" action="{% url 'new_post' %}" method="POST">
                {% csrf_token %}
                <textarea class="form-control" id="new-post-textarea" name="new-post-body" placeholder="New post"></textarea>
                <input type="submit" class="btn btn-primary" id="new-post-submit" value="Post"/>
            </form>
        </div>

        <!-- Section showing all existing posts, defined in network.js-->
        <div class="posts" id="page-posts">
        </div>

        <!-- Section for pagination controls-->
        <div id="pagination-container">
        </div>

       
    </div>
{% endblock %}