/* Stylesheet */

/* Styles the main container of the index page */
#index-container, 
#profile-container{
    padding: 10px;
    margin-bottom: 10px;
    font: 15px Helvetica;
}

/* Post divs */
.posts {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

/* .postDiv created by the network.js file */
.postDiv {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 15px;
}

.postDiv #post-poster,
.postDiv #post-timestamp {
    margin-bottom: 5px;
}

.postDiv #post-body {
    margin-top: 20px;
    margin-bottom: 20px;
}

#post-poster {
    font-weight: bold; 
    font-size: 1.1em;
}

#post-timestamp {
    color: #777;
}

/* LIKE AND UNLIKE */
/* Like Button */
.like-button {
    height: 15px;
    width: 15px;
}

/* Unlike Button */
.unlike-button {
    height: 15px;
    width: 15px;
}

/* Button styles */
.btn-primary,
.btn-outline-primary {
    margin-top: 10px;
}
