/* Stylesheet */

/* Styles the main container of the index page */
#index-container {
    padding: 10px;
    margin-bottom: 10px;
    font: 15px sans-serif;
}

/* Post divs on index page */
.posts {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

/* .postDiv created by the network.js file */
.postDiv {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.postDiv #post-poster,
.postDiv #post-body,
.postDiv #post-timestamp {
    margin-bottom: 5px;
}

#post-poster {
    font-weight: bold;
    font-size: 1.2em;
}

#post-timestamp {
    color: #777;
}

/* LIKE AND UNLIKE */
/* Like Button */
.like-button {
    height: 15px;
    width: 15px;
}

/* Unlike Button */
.unlike-button {
    height: 15px;
    width: 15px;
}

/* Button styles */
.btn-primary {
    margin-top: 10px;
}